

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PressStart2P';
  src: local("PressStart2P-Regular"), url(./fonts/PressStart2P-Regular.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: PressStart2P;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
